.footer_index{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 197, 197);
    
    
}

.footer_div{
    font-family: 'Wix Madefor Display', sans-serif;
    padding: .4rem .6rem;
    margin: 0.5rem;
}